Apostila do Curso.pdf
Como validar CPF's e outros documentos.docx
Módulo 1/Anotações.docx
Módulo Dicionário/Anotações e Dicas.docx
Módulo Pandas/Contoso - Cadastro Produtos.csv
Módulo Pandas/Contoso - Clientes.csv
Módulo Pandas/Contoso - Lojas.csv
Módulo Pandas/Contoso - Promocoes.csv
Módulo Pandas/Contoso - Vendas  - 2017.csv
Formatação de Moeda Brasileira.txt
Trasnformar Python em Executável.txt
Módulo Pandas/Anotações.txt
Módulo Excel/Aula -1/Aula-1.zip
Módulo Pandas/BaseServiçosPrestados.xlsx
Módulo Pandas/CadastroClientes.csv
Módulo Pandas/CadastroFuncionarios.csv
Módulo Integração Txt/Anotacoes.txt
Módulo Integração Txt/Alunos.txt
